
/*colores fonos y letras*/

$colorfondo1:rgb(199, 181, 181);
$colorfondo2: rgb(221, 214, 214);
$colorfondo3:rgba(51, 50, 50, 0.5);
$colorfondo4:rgb(224 215 215);
$colortexto1: rgb(50, 39, 35); 
$colortexto2: rgb(255, 255, 255);
$colortexto3:rgba(68, 67, 67, 0.18);
$boxshadow:rgb(199 177 177 / 63%);
$cardcuidadofondo: rgb(224 215 215);
$textosubtitulo: #3f3d3d; 

