
/*---header index---*/

.header{
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-top: 2rem;
    width: 100%;
    flex-wrap: wrap;
}
    .nav-index{
        background-image: linear-gradient(to right top, rgb(199, 181, 181)80%, rgb(221, 218, 218)20%);
        margin-bottom: 10px;
        justify-content: center;
        display: flex;
        background-color:$colorfondo1;
        list-style-type: none;
        display: flex;
        gap: 1rem;
        margin: 0%;
        padding: 0%;
        ul{   
        list-style: none;
        padding: 2rem;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
    li{
        margin: 0%;
        font-size: 1rem;
        justify-content:center;
        align-items: center;
    }
    a{
        text-decoration: none;
        color:$colortexto1;
        font-weight: bold;
        font-size: 1.2rem;   
    }

}

.div-header img{
    width: 6rem;
    height: 6rem;
}
/*--div header de todos---*/


.div-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    background-color: $colorfondo2;
    padding: 2rem; 
}
.div-titulos-index{
display: flex;
flex-direction: column;
align-items: center;
h1{
margin: 10px 0;
font-family: "Bebas Neue", sans-serif;
letter-spacing: .3rem;
font-size: 1.875rem;
color: $colortexto1;
}
h2{
    margin: 5px 0;
    font-size: 1.25rem;
    color:$textosubtitulo;  
}
img{
    width: 6rem;
    height: 6rem;
}
}

.img-principal img{
    width: 100%;
}



/*--header cuidados--*/



.section-cuidado{
    display: flex;
    align-items: center;
    padding: 2rem;
    column-gap: 2rem;
    text-align: center;
    h2,p {
        padding: 1rem; 
    }
    img-tratamiento{
    width: 400px;
    height: 400px;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    box-shadow: $textosubtitulo; 
    }
}

.div-header-cuidados{
    margin: 10px;
    text-align: center;
    justify-content: center;
    color:$colortexto1;
    font-size: 2rem;
    font-style:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*----header 3-4-5html---*/

.div-header{
    h1{
       @extend .div-header-cuidados
    }
}

/*-------------*/