/*----media index ---*/

@media (max-width:1024px){
    .header-principal {
    background-color: rgb(231, 222, 222);
    }
    .navbar ul li a {
    color: #322723;
    }
    }


/*----media segundo html-----*/

@media (max-width:1024px){
    .section-cuidado {
    background-color: rgb(231, 222, 222);
    }
    .section-cuidado h2, p {
    color: #322723;
    }
    }

/*------media tercer html---*/

@media (max-width:1024px){
    .div-header {
        background-color: $cardcuidadofondo;
    }

    .section-cuidado {
        color:$textosubtitulo
    }
}

/*----media cuarto html---*/

@media (max-width:1024px){
    .card-cuidado {
        background-color: $colorfondo4;
    }
    .descripcion-equipo {
        color: $colortexto3;
    }
}

/*---media quinto html---*/

@media (max-width:1024px){
    .form-flex{
        background-color: $colorfondo4;
    }
    .a-de-buttom {
        color: $colortexto2;
        display: flex;
        justify-items: flex-start;
    }
}