/*----media index ---*/

@media (max-width:1024px){
    .header-principal {
    background-color: rgb(231, 222, 222);
    }
    .navbar ul li a {
    color: #322723;
    }
    }


/*----media segundo html-----*/

@media (max-width:1024px){
    .section-cuidado {
    background-color: rgb(231, 222, 222);
    }
    .section-cuidado h2, p {
    color: #322723;
    }
    }

/*------media tercer html---*/

@media (max-width:1024px){
    .div-header {
        background-color: $cardcuidadofondo;
    }

    .section-cuidado {
        color:$textosubtitulo
    }
}